{%extends 'booth/application.html'%}
{%load static%}

{%block content%}

<img src="{% static 'booth/images/realthur.png' %}" style='width:100%;'>

{% for booth in booths %}

    <!-- Button trigger modal -->
    <button type="button" class="banner" style='display:flex;' data-toggle="modal" data-target="#{{booth.id}}">
        <div class='b_number'>{{booth.id}}</div>
        <div class='b_title'>
            <div class='top' style='display:flex; align-items: center;'>
                <div class='top_title'>
                    <a href= "{% url 'booth_detail' index=booth.pk %}">{{ booth.name }}</a>
                </div>
                <div class='counter'>({{booth.hitcount_set.count}})</div>
            </div>
            <div class='bottom'>#존맛탱구리 #모델 추가해주세요</div>
        </div>
        <div class='b_more'>더보기</div>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="{{booth.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{booth.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    이름: {{ booth.name }}<br>
                    장소: {{ booth.place }}<br>
                    내용: {{ booth.content }}<br>
                    {% for photo in photos %}
                        <img src="{{ photo.image.url}}">
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

{%endblock%}