{%extends 'booth/application.html'%}
{%load static%}

{%block content%}

<img src="{% static 'booth/images/realthur.png' %}" style='width:100%;'>

{% for booth in booths %}

    <div class="banner" onclick="location.href='{% url 'booth_detail' index=booth.pk %}'" style='display:flex; cursor: pointer;'>
        <div class='b_number'>{{booth.place}}</div>
        <div class='b_title'>
            <div class='top' style='display:flex; align-items: center;'>
                <div class='top_title'>
                    <a href= "{% url 'booth_detail' index=booth.pk %}">{{ booth.name }}</a>
                </div>
            </div>
            <div class='bottom'>{{ booth.content|truncatechars:25 }}</div>
        </div>
        <div class='b_more'>더보기</div>
    </div>


{% endfor %}

{%endblock%}