{%extends 'booth/application.html'%}
{%load static%}

{%block content%}

<div class="boothimg">
    <img src="{% static 'booth/images/realtue.png' %}" style='width:100%; position: absolute; z-index: 1;'>
    <a class="icon1" href="{%url 'tues_list'%}" style="position: absolute; right: 0; width: 70px; height: 50px; z-index: 10; margin-top: 20px;"></a>
    <a class="icon2" href="{%url 'wednes_list'%}" style="position: absolute; right: 0; width: 70px; height: 50px; z-index: 10; margin-top: 70px;"></a>
    <a class="icon3" href="{%url 'thurs_list'%}" style="position: absolute; right: 0; width: 70px; height: 50px; z-index: 10; margin-top: 110px;"></a>
</div>

{% for booth in booths %}

    <div class="banner" onclick="location.href='{% url 'booth_detail' index=booth.pk %}'" style='display:flex; cursor: pointer;'>
        <div class='b_number'>{{booth.place}}</div>
        <div class='b_title'>
            <div class='top' style='display:flex; align-items: center;'>
                <div class='top_title'>
                    <a href= "{% url 'booth_detail' index=booth.pk %}">{{ booth.name }}</a>
                </div>
            </div>
            <div class='bottom'>{{ booth.content|truncatechars:25 }}</div>
        </div>
        <div class='b_more'>더보기</div>
    </div>


{% endfor %}

{%endblock%}