<html>
<head>
	<style>
		.one-page {
			height: 100%;
			background-color: #b0c9f1;
		}
		#title, #note, #menu {
			width: 100%;
		}
		.icon1, .icon2, .icon3, .icon4 {
			position: absolute;
		}
		.html, .title, .note, .menu {
			background-color: #b0c9f1;
		}
	</style>

</head>
<body>
	<section class="one-page">
	<div class="title">
		<img id="title" src="..\서강여행.png">
	</div>
	<div class="note">
		<img id="note" src="..\수첩.png">
	</div>
	<div class="menu">
		<img id="menu" src="..\globe.png">
		<a class="icon1" href="/플리/마당"></a>
		<a class="icon2" href="/푸드트럭"></a>
		<a class="icon3" href="타임테이블"></a>
		<a class="icon4" href="게임"></a>
	</div>
	</section>
</body>
</html>