{%extends 'booth/application.html'%}
{%load static%}
{%block content%}

<img src="{% static 'foodtruck/image/foodtruckmapreal.png' %}" style='width:100%;'>

{% for truck in trucks_list %}

    <!-- Button trigger modal -->

    <div class="banner" onclick="location.href='{% url 'detail' index=truck.pk %}'" style='display:flex; cursor: pointer;'>
        <div class='b_number' style='background-color:#FA899A; color:white;'>{{truck.id}}</div>
        <div class='b_title'>
            <div class='top' style='display:flex; align-items: center;'>
                <div class='top_title'>
                    <a href= "{% url 'detail' index=truck.pk %}">{{ truck.truckname }}</a>
                </div>
                <div class='counter'>리뷰:{{truck.comment_set.count}}개</div>
            </div>
            <div class='bottom'>{{ truck.truckinfo|truncatechars:25 }}</div>
        </div>
        <div class='b_more'>더보기</div>
    </div>


{% endfor %}

{%endblock%}
